html{
  box-sizing: border-box;
  background-color: var(--color-white-oyster);
  padding: 1rem;
  font-family: var(--font-body);
}

*, 
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}